/servidorConExpress/node_modules/
/API_RESTful/node_modules/
/motoresPlantillas/ejs/node_modules/
/motoresPlantillas/pug/node_modules/
/motoresPlantillas/handleBars/node_modules/
/ejerciciosClase/
/webSockets/node_modules/
/1erEntregaProyectoFinal/node_modules/
/2daEntregaProyectoFinal/node_modules/
/3raEntregaProyectoFinal/node_modules/
/3raEntregaProyectoFinal/loggers/

/1ejerciciosClase/clase21-Mocks/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase21-Mocks/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase21-Mocks/ejercicioGenerico3/node_modules/
/1ejerciciosClase/clase21-Mocks/ejercicioGenerico4/node_modules/
/1ejerciciosClase/clase22-Normalizacion/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase22-Normalizacion/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase23-Cookies,Sesiones,Storages/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase23-Cookies,Sesiones,Storages/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase23-Cookies,Sesiones,Storages/ejercicioGenerico3/node_modules/
/1ejerciciosClase/clase24-Cookies,Sesiones,Storages/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase25-AutorizacionAutenticacion/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase25-AutorizacionAutenticacion/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase25-AutorizacionAutenticacion/ejercicioAfterClass/node_modules/
/1ejerciciosClase/clase26-AutenticacionRedesSociales/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase27-ProcesoPrincipalServidor/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase27-ProcesoPrincipalServidor/ejercicoGenerico2/node_modules/
/1ejerciciosClase/clase28-GlobalChildProcess/1jercicioGenerico1/node_modules/
/1ejerciciosClase/clase29-ClusterEscalabilidad/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase29-ClusterEscalabilidad/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase29-ClusterEscalabilidad/ejercicioGenerico3/node_modules/
/1ejerciciosClase/clase29-ClusterEscalabilidad/ejercicioGenerico4/node_modules/
/1ejerciciosClase/clase30-ProxyNGINX/node_modules/
/1ejerciciosClase/clase31-Logs,Profiling,Debug/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase31-Logs,Profiling,Debug/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase31-Logs,Profiling,Debug/ejercicioGenerico3/node_modules/
/1ejerciciosClase/clase32-Logs,Profiling,Debug/desafioGenerico1/node_modules/
/1ejerciciosClase/clase32-Logs,Profiling,Debug/desafioGenerico2/node_modules/
/1ejerciciosClase/clase32-Logs,Profiling,Debug/desafioGenerico3/node_modules/
/1ejerciciosClase/clase35-EnvioMensajesSeguridad/desafioGenerico1/node_modules/

/nginx-1.21.6/
/servidorConBalanceCarga/node_modules/
/loggersGzipPerformance/node_modules/
/deployHeroku/node_modules/
/ArquitecturaDeCapas/src/node_modules/
/mejorandoArquitecturadeAPI/src/node_modules/

/inicioSesion/node_modules/
/objetoProcess/node_modules/
/objetoProcess2/node_modules/

/loginFormulario/node_modules/
/mocksNormalizacion/node_modules/

.DS_Store