/servidorConExpress/node_modules/
/API_RESTful/node_modules/
/motoresPlantillas/ejs/node_modules/
/motoresPlantillas/pug/node_modules/
/motoresPlantillas/handleBars/node_modules/
/ejerciciosClase/
/webSockets/node_modules/
/1erEntregaProyectoFinal/node_modules/
/2daEntregaProyectoFinal/node_modules/

/1ejerciciosClase/clase21/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase21/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase21/ejercicioGenerico3/node_modules/
/1ejerciciosClase/clase21/ejercicioGenerico4/node_modules/
/1ejerciciosClase/clase22/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase22/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase23/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase23/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase23/ejercicioGenerico3/node_modules/
/1ejerciciosClase/clase24/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase25/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase25/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase25/ejercicioAfterClass/node_modules/
/1ejerciciosClase/clase26/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase27/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase27/ejercicoGenerico2/node_modules/
/1ejerciciosClase/clase28/1jercicioGenerico1/node_modules/
/1ejerciciosClase/clase29/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase29/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase29/ejercicioGenerico3/node_modules/
/1ejerciciosClase/clase29/ejercicioGenerico4/node_modules/
/1ejerciciosClase/clase30/node_modules/
/1ejerciciosClase/clase31/ejercicioGenerico1/node_modules/
/1ejerciciosClase/clase31/ejercicioGenerico2/node_modules/
/1ejerciciosClase/clase31/ejercicioGenerico3/node_modules/

/nginx-1.21.6/
/servidorConBalanceCarga/node_modules/

/inicioSesion/node_modules/
/objetoProcess/node_modules/
/objetoProcess2/node_modules/

/loginFormulario/node_modules/
/mocksNormalizacion/node_modules/

.DS_Store